In [4]:
name = "Surendra"
print(type(name))

#help(str)

<class 'str'>

In [8]:
data = 5 + 10j
print(data)
print(data.real)
print(data.imag)
print(data.conjugate())

(5+10j)
5.0
10.0
(5-10j)

In [9]:
True + True + True - False

3

Mutable Data Stucture 
1. List 
2. Dictionary 
3. Set 

Immutabale :
1. tuple 
2. Number 
3. String

In [28]:
%%writefile carmodule.py

class CarApp:
    '''Car Application For Customer'''

    def __init__(self,name):
        '''Intialisation of CarApp class'''
        self.name = name  # object variable
        print("Car Name: ",name)

    def info(self):
        '''Car Information Method'''
        print("It's Audi Car",self.name)

if __name__ == '__main__':
    AudiCar = CarApp("Audi Car Name")
    #print(AudiCar.__doc__)
    AudiCar.info()

Writing carmodule.py

In [35]:
#import carmodule as cm

from carmodule import CarApp

class DeluxCar(CarApp):
    '''Delux Car Inherited from CarApp'''
    def feature(self):
        '''Delux Car Feature'''
        print("Delux Car Features")

    def info(self):
        '''Delux Car Information Method'''
        super().info()
        print("It's Audi Delux Car",self.name)


if __name__ == '__main__':
    AudiCar = DeluxCar("Audi Car Name")
    AudiCar.info()
    AudiCar.feature()

Car Name:  Audi Car Name
It's Audi Car Audi Car Name
It's Audi Delux Car Audi Car Name
Delux Car Features

In [43]:
import re

#help(re.match)

pattern_object = re.compile('[a-z]+',re.IGNORECASE)

print(pattern_object)

data = "3476 welcome to regular expression pattern"

m = pattern_object.search(data)

if m:
    print("Match Found",m.group())
    print("Match Start",m.start())
    print("Match End",m.end())
    print("Match Span",m.span())
else:
    print("Match Not Found")

re.compile('[a-z]+', re.IGNORECASE)
Match Found welcome
Match Start 5
Match End 12
Match Span (5, 12)

In [45]:
m1 = pattern_object.findall(data)
print(m1)

m2 = re.findall('[a-z]+',data,re.IGNORECASE)
print(m2)

['welcome', 'to', 'regular', 'expression', 'pattern']
['welcome', 'to', 'regular', 'expression', 'pattern']

In [63]:
raw_data = '''My name is Surendra and email is surendra@gktcs.com
Mobile is 9876543210 and address is Bangalore and surendra.panpaliya@gmail.com
Account Number is 1234567890 and IFSC Code is HDFC1234 and PAN Number is ABCDE1234F
another mobile number is 9876543211 and address is Pune. another mobile number is
9876543212 and address is Pune. IFSC Code is IDFC5678 10.10.10.10 ip address 192.245.200.100'''

with open('mypersonal.txt','w') as file:
    file.write(raw_data) # write data to file

with open('mypersonal.txt','r') as file:
    data = file.read() # read data from file
    print(data)

My name is Surendra and email is surendra@gktcs.com
Mobile is 9876543210 and address is Bangalore and surendra.panpaliya@gmail.com
Account Number is 1234567890 and IFSC Code is HDFC1234 and PAN Number is ABCDE1234F
another mobile number is 9876543211 and address is Pune. another mobile number is
9876543212 and address is Pune. IFSC Code is IDFC5678 10.10.10.10 ip address 192.245.200.100

In [78]:
with open('mypersonal.txt') as file:
    data = file.read() # read data from file
    mobile_data = re.findall(r'\d{10}',data)
    print(mobile_data)
    ifsc_data = re.findall(r'\b[A-Z]{4}\d{4}\b',data)
    print(ifsc_data)
    pan_data = re.findall(r'[A-Z]{5}\d{4}[A-Z]',data)
    print(pan_data)
    email_data = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b',data)
    print(email_data)
    email_data1 = re.findall(r'\b[\w._]+@[\w]+\.[\w]{2,}\b',data)
    print(email_data1)
    ip_address = re.findall(r'\d{0,3}\.\d{0,3}\.\d{0,3}\.\d{0,3}',data)
    print(ip_address)

['9876543210', '1234567890', '9876543211', '9876543212']
['HDFC1234', 'IDFC5678']
['ABCDE1234F']
['surendra@gktcs.com', 'surendra.panpaliya@gmail.com']
['surendra@gktcs.com', 'surendra.panpaliya@gmail.com']
['10.10.10.10', '192.245.200.100']

In [71]:
#!pip install pandas

In [86]:
import pandas as pd

mobile_series = pd.Series(mobile_data,name='Mobile Number')

# print(mobile_series)

print(mobile_data)

mobile_dict = {}

mobile_dict['surendra'] = mobile_data[0]
mobile_dict['pankaj'] = mobile_data[1]
mobile_dict['sachin'] = mobile_data[2]
mobile_dict['satish'] = mobile_data[3]

print(mobile_dict)
print(mobile_dict.keys())
print(mobile_dict.values())

mobile_series1 = pd.Series(mobile_dict)

print(mobile_series1)

print(mobile_dict)

['9876543210', '1234567890', '9876543211', '9876543212']
{'surendra': '9876543210', 'pankaj': '1234567890', 'sachin': '9876543211', 'satish': '9876543212'}
dict_keys(['surendra', 'pankaj', 'sachin', 'satish'])
dict_values(['9876543210', '1234567890', '9876543211', '9876543212'])
surendra    9876543210
pankaj      1234567890
sachin      9876543211
satish      9876543212
dtype: object
{'surendra': '9876543210', 'pankaj': '1234567890', 'sachin': '9876543211', 'satish': '9876543212'}
       Name Mobile Number
0  surendra    9876543210
1    pankaj    1234567890
2    sachin    9876543211
3    satish    9876543212

In [93]:
mobile_dataframe = pd.DataFrame(mobile_dict.items(),columns=['Name','Mobile Number'])

print(mobile_dataframe)

print(mobile_dataframe['Name'])

print(mobile_dataframe['Mobile Number'])

print(mobile_dataframe.shape)

print(mobile_dataframe.ndim)

mobile_dataframe.to_csv('mobile.csv',index=False)   # write data to csv file

mobile_dataframe1 = pd.read_csv('mobile.csv')  # read data from csv file

print(mobile_dataframe1)

       Name Mobile Number
0  surendra    9876543210
1    pankaj    1234567890
2    sachin    9876543211
3    satish    9876543212
0    surendra
1      pankaj
2      sachin
3      satish
Name: Name, dtype: object
0    9876543210
1    1234567890
2    9876543211
3    9876543212
Name: Mobile Number, dtype: object
(4, 2)
2
       Name  Mobile Number
0  surendra     9876543210
1    pankaj     1234567890
2    sachin     9876543211
3    satish     9876543212